%h2
%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Birthday
      %th Email
      %th Password
  %tbody
    - if(@users != nil)
      - @users.each do |user|
        %tr
          %td= link_to user.firstName, user_path(user.id)
          %td= user.lastName
          %td= user.birthday
          %td= user.email
          %td= user.password
