%h2 Profile for #{@user.firstName} #{@user.lastName}
%hr
%body
  Profile Information
  %ul#details
    %li Email: #{@user.email}
    %li Birthday: #{@user.birthday}

  %br
  #{link_to "Index", '/users'}

  %br
  %a= link_to 'Log Out', '/signout', :method => :delete
<<<<<<< HEAD

  %br
  
=======
  
  %br
>>>>>>> 65da6ba4a47a44452952aa90bbcae2bdab4d28a0
  %a=link_to "Search for friends", {:action => 'new', :controller => 'search'}

