%h2 Profile for #{@user.firstName} #{@user.lastName}
%hr
%body
  Profile Information
  %ul#details
    %li Email: #{@user.email}
    %li Birthday: #{@user.birthday}

  %br
  %a=link_to 'Index', '/users'
  
  %br
  %a= link_to 'Log Out', '/signout', :method => :delete
