%h2 Write on #{@friend.firstName} #{@friend.lastName} wall!
= form_tag '/newpost', :method => :post, :action => :create, :id => @friend.id do |f|

  = label :wallpost, :content, 'Wall Post'
  = text_field :wallpost, 'content'
  %br
  = submit_tag 'Post!'
  
%br
%a=link_to "Back to your page!", user_path(@poster.id)
%br
%a=link_to "Index", '/users'
