!!! 5
%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = render :partial => 'layouts/header'
    %h1.title.text-center Schadenfreude
    %div{style: "text-align:center"}
      #main
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        %hr  
        %hr

        = yield
